/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* Dashboard boxes */
  
  .dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    gap: 20px; /* Set the gap between the boxes */
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    height: 300px; /* Set a fixed height */
    justify-content: center;
  }
  
    
  
  .box img {
    width: 100px;

  }
  .box h3 {
    margin-top: 10px;
    height:250px;
    text-align:center ;
  }
  
body {
  background-color: #67BAE3;
}